In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.metrics
from google.colab import files
uploaded = files.upload()

import io
data= pd.read_csv(io.BytesIO(uploaded['data.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
data.head()

In [ ]:
dataset = data.drop(['id','business_name','street_name','owner','business_type'], axis = 1,inplace=True)

In [ ]:
data.head()

In [ ]:
print("Is there any missing data? : ", data.isna().any().any())
data.isna().sum()

In [ ]:
import matplotlib.pyplot as plt
data.hist(figsize=(20,20))
plt.show()

In [ ]:
f,ax = plt.subplots(figsize = (15,15))
sns.heatmap(data.corr(), annot=True,fmt = '.2g', ax= ax)
plt.xlabel('Features')
plt.show()

In [ ]:
data.head()

In [ ]:
data['cost'].describe()

In [ ]:
#cross between 2 colomns to find probability of the cost in each business
df1=pd.DataFrame(data, columns=['business_number','cost'])

In [ ]:
d1 = pd.crosstab(index=df1["business_number"], columns="count") 
d1

In [ ]:
d2=pd.crosstab(index=df1["cost"], columns="count") 
d2

In [ ]:
d3=pd.crosstab(index=df1["cost"], columns=df1["business_number"],margins=True ) 
d3
#frequency table for cost

In [ ]:
d4=d3/d3.loc["All","All"]
d4
#Likelihood table

In [ ]:
#find the highest
d4 = d4.drop("All", axis=0)
d4 = d4.drop("All", axis=1)
#max = d4.max()

In [ ]:
d4.style

In [ ]:
#naive bayes
# importing required libraries
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

# Now, we need to predict the missing target variable in the test data
X = data.drop(['cost'], axis = 1)
Y = data['cost']
print(X)
print(Y)

x_train , x_test , y_train , y_test  = train_test_split(X, Y, test_size=0.2, shuffle=True, random_state=1)
model = GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

print(classification_report(y_test,y_pred))
print("Test Accuracy: {:.2f}%".format(model.score(x_test, y_test) * 100))

In [ ]:
# We've splitted the streets into 3 categories 1,2 and 3 which is the last number of the street's ID
# 1 -> main street (High)
# 2 -> main - substreet (Meduim)
# 3 -> substreet (Low)

In [ ]:
from numpy.ma.core import count
# Business that should be in a substreet 
df2 = pd.DataFrame(data, columns=['business_number'])
df2.drop_duplicates()

In [ ]:
df55=pd.DataFrame(data,columns=['street_number'])
ara=df55.drop_duplicates()
ara

In [ ]:
#empty data frame -> jobs in main street / main-substreet / substreet  
#مهنه شارع
business_array = df2.drop_duplicates()[['business_number']].to_numpy()
for t in range(92):
  if t==0:
    df4 = pd.DataFrame(columns=business_array[t], index=range(3))
  else:
    df4.insert(t, business_array[t],0, True)
df4.rename(index = {0: "main_street", 1:"main-substreet",2:"substreet"},inplace = True)
df4

In [ ]:
#مهنه شارع
df3 = pd.DataFrame(data, columns=['street_number'])
street =df3[['street_number']].to_numpy()
job = df2[['business_number']].to_numpy()
rows, cols = (2, 1056)
matrix= [[0 for i in range(cols)] for j in range(rows)]
count1 =0
count2 =0
count3 =0
sum1 =0
sum2 =0
sum3 =0
st1 =[0 for x in range(92)]
st2 =[0 for x in range(92)]
st3 =[0 for x in range(92)]
for j in range(1056):
  l = street[j]%10
  matrix[0][j] = l
  matrix[1][j] = job[j]
for c in range(92):
  k=business_array[c]
  count1=0
  count2=0
  count3=0
  for p in range(1056):
    if k == matrix[1][p] :
      if matrix[0][p] == 1:
        count1 = count1 +1
      if matrix[0][p] == 2:
        count2 = count2 +1
      elif matrix [0][p] == 3:
        count3 = count3 + 1
  st1[c]=count1
  st2[c]=count2
  st3[c]=count3
  sum1=sum1 + count1
  sum2=sum2 + count2
  sum3=sum3 +count3
df4.loc["main_street"] = st1
df4.loc["main-substreet"] = st2
df4.loc["substreet"] =st3
print("number of jobs in main street = ",sum1)
print("number of jobs in main-substreet = ",sum2)
print("number of jobs in substreet = ",sum3)
df4

In [ ]:
#مهنه شارع
df5=df4/df4.sum()
df5

#likelihood table

In [ ]:
#naive bayes
# importing required libraries
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

# Now, we need to predict the missing target variable in the test data
X = data.drop(['street_number','cost'], axis = 1)
Y = data['street_number']
Z=Y%10
print(X)
print(Z)

x_train , x_test , y_train , y_test  = train_test_split(X, Z, test_size=0.2, shuffle=True, random_state=1)
model = GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

print(classification_report(y_test,y_pred))
print("Test Accuracy: {:.2f}%".format(model.score(x_test, y_test) * 100))

In [ ]:
#cross between 2 colomns to business number and the area to find the similarity
darea=pd.DataFrame(data, columns=['business_number','area'])

In [ ]:
#حوض مهنه
dlast=pd.crosstab(index=darea["area"], columns=darea["business_number"],margins=True ) 
dlast

In [ ]:
#حوض مهنه
dlast = dlast.drop("All", axis=0)
dlast

In [ ]:
#sorted area accodring to business sum in each area
sorted = dlast.sort_values(by=['All'])
sorted

In [ ]:
# group the area have the same number of business in list
#dl = dlast.groupby('All')['area'].apply(list)
#dl
dup = dlast.pivot_table(columns=['All'], aggfunc='size')
dup

In [ ]:
# dataframe of sorted buisness
sortedBuisness = sorted.loc[:,'All']
sortedBuisness

In [ ]:
# dataframe of sorted areas
sortedAreas = sorted.iloc[:,:1]
sortedAreas
Array3 = sortedAreas.index
Array3

In [ ]:
#dataframe for area with job count
#حوض  عدد مهن 
AJ = pd.DataFrame(sortedAreas.index)  
AJ.insert(1, "job_count",sorted.loc[:,'All'].values, True)
AJ

In [ ]:
#try area with job count (K-means)
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
import warnings
from sklearn.cluster import KMeans
warnings.filterwarnings('ignore')
#Declare feature vector and target variable ¶
plt.scatter(AJ['area'],AJ['job_count'])
x = AJ[['area', 'job_count']]
kmeans = KMeans(2)
kmeans.fit(x)
identified_clusters = kmeans.fit_predict(x)
identified_clusters
data_with_clusters = AJ.copy()
data_with_clusters['Clusters'] = identified_clusters 
plt.scatter(data_with_clusters['area'],data_with_clusters['job_count'],c=data_with_clusters['Clusters'],cmap='rainbow')

In [ ]:
nn=pd.DataFrame(data_with_clusters['Clusters'])
nn.insert(1, "area",data_with_clusters['area'].values, True)
nn.insert(2, "job_count",AJ['job_count'].values, True)
nn

In [ ]:
dk1=pd.DataFrame(data, columns=['area','cost'])
dk1
#the cost with area

In [ ]:
dk=pd.crosstab(index=dk1["cost"], columns=dk1["area"],margins=True ) 
dk
#frequency table for cost with area
#كوست حوض

In [ ]:
#find the cost sum for every area 
dk2 = dk1.groupby(['area']).agg({'cost': 'sum'})
#add the cost number to th data frame 
dk2.insert(1, "cost_count",dk.loc['All'], True)

In [ ]:
#the mean cost for every area
dk3 = dk2['cost']/dk2['cost_count']
dk2.insert(2, "cost_avg",dk3, True)
dk4=dk2.iloc[:,:0]
#collect all i want to use in one datafram
dk5=pd.DataFrame(dk4.index, columns=['area'])
dk2.insert(3, "area",dk5, True)
dk2.reset_index(inplace = True, drop = True)
dk2.rename(columns = {'cost_count':'job_count'}, inplace = True)

In [ ]:
dk2

In [ ]:
#k-mean (area , cost avg ,job num)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
X = dk2.iloc[:,1:4]
X

In [ ]:
#elbow method
wcss = []
for i in range(1,11):
    k_means = KMeans(n_clusters=i,init='k-means++', random_state=42)
    k_means.fit(X)
    wcss.append(k_means.inertia_)
#plot elbow curve
plt.plot(np.arange(1,11),wcss)
plt.xlabel('Clusters')
plt.ylabel('SSE')
plt.show()

In [ ]:
k_means_optimum = KMeans(n_clusters = 4, init = 'k-means++',  random_state=42)
y = k_means_optimum.fit_predict(X)
print(y)

In [ ]:
dk2['cluster'] = y  
# the above step adds extra column indicating the cluster number for each country

In [ ]:
data1 = dk2[dk2.cluster==0]
data2 = dk2[dk2.cluster==1]
data3 = dk2[dk2.cluster==2]
data4 = dk2[dk2.cluster==3]

In [ ]:
kplot = plt.axes(projection='3d')
xline = np.linspace(0, 15, 30000)
yline = np.linspace(0, 15, 30000)
zline = np.linspace(0, 15, 30000)
kplot.plot3D(xline, yline, zline, 'black')
# Data for three-dimensional scattered points
kplot.scatter3D(data1.job_count, data1.cost_avg, data1.area, c='red', label = 'Cluster 1')
kplot.scatter3D(data2.job_count,data2.cost_avg,data2.area,c ='green', label = 'Cluster 2')
kplot.scatter3D(data3.job_count, data3.cost_avg, data3.area, c='blue', label = 'Cluster 3')
kplot.scatter3D(data4.job_count, data4.cost_avg, data4.area, c='black', label = 'Cluster 4')
plt.scatter(k_means_optimum.cluster_centers_[:,0], k_means_optimum.cluster_centers_[:,1], color = 'indigo', s = 200)
plt.legend()
plt.title("Kmeans")
plt.show()

In [ ]:
dk2

In [ ]:
list1=[]
Tlist1=dk2.loc[dk2['cluster'] == 0]
list1=Tlist1['area'].values
list1

In [ ]:
list2=[]
Tlist2=dk2.loc[dk2['cluster'] == 1]
list2=Tlist2['area'].values
list2

In [ ]:
list3=[]
Tlist3=dk2.loc[dk2['cluster'] == 2]
list3=Tlist3['area'].values
list3

In [ ]:
list4=[]
Tlist4=dk2.loc[dk2['cluster'] == 3]
list4=Tlist4['area'].values
list4

In [ ]:
'''# areas classification 
# according to range number of buisness in a group of areas
list1 = []
list2 = []
list3 = []
list4 = []
list5 = []
count=0
for j in sortedBuisness:
  if j > 0 and j <= 10 :
    list1.append(Array3[count])
  elif j > 10 and j <= 30 :
    list2.append(Array3[count])
  elif j > 30 and j <= 60 :
    list3.append(Array3[count])
  elif j > 60 and j <= 100 :
    list4.append(Array3[count])
  elif j > 100 :
    list5.append(Array3[count])
  count=count+1
print("list1(1-10)     =",list1)
print("list2(10-30)    =",list2)
print("list3(30-60)    =",list3)
print("list4(60-100)   =",list4)
print("list5(100<)     =",list5)'''

In [ ]:
acc=sorted.drop("All", axis=1)

In [ ]:
#take the areas from list1 and show business in each area
x1 = len(list1)
rows, cols = (x1, 92)
matrix1= [[0 for i in range(cols)] for j in range(rows)]
for i  in range(x1):
  k=list1[i]
  matrix1[i] = acc.loc[k]
m1=pd.DataFrame(matrix1)
#list2 --> m2
x2 = len(list2)
rows, cols = (x2, 92)
matrix2= [[0 for i in range(cols)] for j in range(rows)]
for i  in range(x2):
  k=list2[i]
  matrix2[i] = acc.loc[k]
m2=pd.DataFrame(matrix2)
#list3 -->m3
x3 = len(list3)
rows, cols = (x3, 92)
matrix3= [[0 for i in range(cols)] for j in range(rows)]
for i  in range(x3):
  k=list3[i]
  matrix3[i] = acc.loc[k]
m3=pd.DataFrame(matrix3)
#list4 -->m4
x4 = len(list4)
rows, cols = (x4, 92)
matrix4= [[0 for i in range(cols)] for j in range(rows)]
for i  in range(x4):
  k=list4[i]
  matrix4[i] = acc.loc[k]
m4=pd.DataFrame(matrix4)

In [ ]:
#find the max with max_id(the area)  -->m1max
maxValueIndex = m1.idxmax()
m1max=pd.DataFrame(maxValueIndex)
m1max['max'] = m1.max()
m1max.rename(columns = {0:'max_id'},inplace = True)
#remove max = 0 ... -->m1max1
a1=[]
for i in  range(92):
  val =m1max['max'] .iloc[i]
  if val == 0:
    a1.append(i)
m1max1 = m1max.drop(m1max.index[a1])
m1max1

In [ ]:
#find the max with max_id(the area) -->m2max
maxValueIndex2 = m2.idxmax()
m2max=pd.DataFrame(maxValueIndex2)
m2max['max'] = m2.max()
m2max.rename(columns = {0:'max_id'},inplace = True)
#remove max = 0 ... -->m2max2
a2=[]
for i in  range(92):
  val =m2max['max'] .iloc[i]
  if val == 0:
    a2.append(i)
m2max2 = m2max.drop(m2max.index[a2])
m2max

In [ ]:
#find the max with max_id(the area)  -->m3max
maxValueIndex3 = m3.idxmax()
m3max=pd.DataFrame(maxValueIndex3)
m3max['max'] = m3.max()
m3max.rename(columns = {0:'max_id'},inplace = True)
#remove max = 0 ... -->m3max3
a3=[]
for i in  range(92):
  val =m3max['max'] .iloc[i]
  if val == 0:
    a3.append(i)
m3max3 = m3max.drop(m3max.index[a3])
m3max3
#ماكس مهنه في حوض

In [ ]:
#find the max with max_id(the area) -->m4max
maxValueIndex4 = m4.idxmax()
m4max=pd.DataFrame(maxValueIndex4)
m4max['max'] = m4.max()
m4max.rename(columns = {0:'max_id'},inplace = True)
#remove max = 0 ... -->m4max4
a4=[]
for i in  range(92):
  val =m4max['max'].iloc[i]
  if val == 0:
    a4.append(i)
m4max4 = m4max.drop(m4max.index[a4])
m4max4

In [ ]:
m4max4.loc[m4max4['max'] == 20]

In [ ]:
#first step predicting how much i need business in each area
#area_need =(max_number-n)/max_number
buss = df2.drop_duplicates()[['business_number']].to_numpy()
d1 = pd.DataFrame(data, columns=['area'])
area = d1.drop_duplicates()[['area']].to_numpy()
for r in range(92):
  if r==0:
    d8 = pd.DataFrame(columns=buss[r], index=list1)
  else:
    d8.insert(r, buss[r],0, True)
area_buss1=d8

for r in range(92):
  if r==0:
    d9 = pd.DataFrame(columns=buss[r], index=list2)
  else:
    d9.insert(r, buss[r],0, True)
area_buss2=d9

for r in range(92):
  if r==0:
    d10 = pd.DataFrame(columns=buss[r], index=list3)
  else:
    d10.insert(r, buss[r],0, True)
area_buss3=d10

for r in range(92):
  if r==0:
    d11 = pd.DataFrame(columns=buss[r], index=list4)
  else:
    d11.insert(r, buss[r],0, True)
area_buss4=d11

In [ ]:
area_buss1

In [ ]:
x=list(area_buss1.columns)
y=list(area_buss1.index)
r1=sorted.loc[y,x]
r1

In [ ]:
x=list(area_buss2.columns)
y=list(area_buss2.index)
r2=sorted.loc[y,x]
r2

In [ ]:
x=list(area_buss3.columns)
y=list(area_buss3.index)
r3=sorted.loc[y,x]
r3

In [ ]:
x=list(area_buss4.columns)
y=list(area_buss4.index)
r4=sorted.loc[y,x]
r4

In [ ]:
m1=m1max.drop(labels='max_id',axis=1)
m2=m2max.drop(labels='max_id',axis=1)
m3=m3max.drop(labels='max_id',axis=1)
m4=m4max.drop(labels='max_id',axis=1)

In [ ]:
e=0
for i in r1.index:
  for j in r1.columns:
    n=r1.loc[i,j]
    max=m1.loc[j,'max']
    if  max!=0:
      p=(max-n)/max
      r1.loc[i,j]=p
    else:
      r1.loc[i,j]=0
    
    
r1

In [ ]:
e=0
for i in r2.index:
  for j in r2.columns:
    n=r2.loc[i,j]
    max=m2.loc[j,'max']
    if  max!=0:
      p=(max-n)/max
      r2.loc[i,j]=p
    else:
      r2.loc[i,j]=0
   
    
r2

In [ ]:
e=0
for i in r3.index:
  for j in r3.columns:
    n=r3.loc[i,j]
    max=m3.loc[j,'max']
    if  max!=0:
      p=(max-n)/max
      r3.loc[i,j]=p
    else:
      r3.loc[i,j]=0
    
    
r3

In [ ]:
e=0
for i in r4.index:
  for j in r4.columns:
    n=r4.loc[i,j]
    max=m4.loc[j,'max']
    if  max!=0:
      p=(max-n)/max 
      r4.loc[i,j]=p
    else:
      r4.loc[i,j]=0
    
r4

In [ ]:
#to find the areas have all the streets types
df98 = pd.DataFrame(data, columns=['area'])
area_street_array = df98.drop_duplicates()[['area']].to_numpy()
for t in range(71):
  if t==0:
    df99 = pd.DataFrame(columns=area_street_array[t], index=range(3))
  else:
    df99.insert(t, area_street_array[t],0, True)
df99.rename(index = {0: "main_street", 1:"main-substreet",2:"substreet"},inplace = True)
df3 = pd.DataFrame(data, columns=['street_number'])
street =df3[['street_number']].to_numpy()
a = df98[['area']].to_numpy()
rows, cols = (2, 1056)
matrix= [[0 for i in range(cols)] for j in range(rows)]
count1 =0
count2 =0
count3 =0
st11 =[0 for x in range(71)]
st22 =[0 for x in range(71)]
st33 =[0 for x in range(71)]
for j in range(1056):
  l = street[j]%10
  matrix[0][j] = l
  matrix[1][j] = a[j]
for c in range(71):
  k=area_street_array[c]
  count1=0
  count2=0
  count3=0
  for p in range(1056):
    if k == matrix[1][p] :
      if matrix[0][p] == 1:
        count1 = 1
      if matrix[0][p] == 2:
        count2 = 1
      elif matrix [0][p] == 3:
        count3 =  1
  st11[c]=count1
  st22[c]=count2
  st33[c]=count3

df99.loc["main_street"] = st11
df99.loc["main-substreet"] = st22
df99.loc["substreet"] =st33

df99
df99.style
#حوض شارع

In [ ]:
#cost5
c5=d4.loc[[5]]
c5=c5.max()
c5=c5.to_frame()
c5=c5*0.3
c5.style

In [ ]:
c4=d4.loc[[4,5]]
c4.style
c4=c4.max()
c4=c4.to_frame()
c4=c4*0.3
c4.style

In [ ]:
#cost3
c3=d4.loc[[3,4,5]]
c3.style
c3=c3.max()
c3=c3.to_frame()
c3=c3*0.3
c3.style

In [ ]:
#cost2
c2=d4.loc[[2,3,4,5]]
c2.style
c2=c2.max()
c2=c2.to_frame()
c2=c2*0.3
c2.style

In [ ]:
#cost1
c1=d4.loc[[1,2,3,4,5]]
c1.style
c1=c1.max()
c1=c1.to_frame()
c1=c1*0.3
c1.style

In [ ]:
from pandas.core.frame import DataFrame
def streets_classifier(area,street_cat,cost):
  k = 0 
  area_val = []  
  street_val = []

  # sort business values
  b1 = data[['business_number']].to_numpy()
  b2 = DataFrame(b1)
  b3 = b2.drop_duplicates()
  b4 = b3.sort_values(by=0)
  list_b2 = b4.values.tolist()
  #display(list_b2)
  #areas classification
  # list 1 
  for i in list1:
    if ( area == i ):
      for j in r1.index:
        k=k+1
        if ( area == j):
          area_val = r1.iloc[k-1,0:]
          AV_list = area_val.to_list()
         # print(area_val.to_list())
# list 2 
  for i in list2:
    if ( area == i ):
      for j in r2.index:
        k=k+1
        if ( area == j):
          area_val = r2.iloc[k-1,0:]
          AV_list = area_val.to_list()
          #display (area_val.to_list())
# list 3 

  for i in list3:
    if ( area == i ):
      for j in r3.index:
        k=k+1
        if ( area == j):
          area_val = r3.iloc[k-1,0:]
          AV_list = area_val.to_list()
          #display (area_val.to_list())  
# list 4
  for i in list4:
    if ( area == i ):
      for j in r4.index:
        k=k+1
        if ( area == j):
          area_val = r4.iloc[k-1,0:]
          AV_list = area_val.to_list()
          #display (area_val.to_list())

  # street classification :         
  # df5 -> dataframe of the streets category probabilities 
  k = 0 
  for q in df5.index:
    k=k+1
    if ( street_cat == q ):
      j = df5.iloc[k-1,0:]
      street_val = j.iloc[0:]
      street_val = street_val *0.7
      SV_list = street_val.to_list()
      
      #display (street_val.to_list())
  
  # cost classification : 
  # the pobabilites are in dataframe d4 
  cost_val = []
  cost_val2 = [] 
  cost1 = 0
  # cost ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  k = 0 
  for i in d4.index:
    cost1 = i 
    if ( cost == i ):
      #print(i)
      if (i == 5 ):
        cost_val5 = d4.iloc[i-1,0:]
        CV_list5 = cost_val5.to_list()
      elif (i == 4):
        cost_val4 = d4.iloc[i-1,0:]
        CV_list4 = cost_val4.to_list()
        cost_val5 = d4.iloc[i,0:]
        CV_list5 = cost_val5.to_list()
      elif (i == 3):
        cost_val3 = d4.iloc[i-1,0:]
        CV_list3 = cost_val3.to_list()
        cost_val4 = d4.iloc[i,0:]
        CV_list4 = cost_val4.to_list()
        cost_val5 = d4.iloc[i+1,0:]
        CV_list5 = cost_val5.to_list()
      elif (i == 2):
        cost_val2 = d4.iloc[i-1,0:]
        CV_list2 = cost_val2.to_list()
        cost_val3 = d4.iloc[i,0:]
        CV_list3 = cost_val3.to_list()
        cost_val4 = d4.iloc[i+1,0:]
        CV_list4 = cost_val4.to_list()
        cost_val5 = d4.iloc[i+2,0:]
        CV_list5 = cost_val5.to_list()
      elif (i == 1):
        cost_val = d4.iloc[i-1,0:]
        CV_list = cost_val.to_list()
        cost_val2 = d4.iloc[i,0:]
        CV_list2 = cost_val2.to_list()
        cost_val3 = d4.iloc[i+1,0:]
        CV_list3 = cost_val3.to_list()
        cost_val4 = d4.iloc[i+2,0:]
        CV_list4 = cost_val4.to_list()
        cost_val5 = d4.iloc[i+3,0:]
        CV_list5 = cost_val5.to_list()
      else :
        print(" bad input ")
      #display (CV_list)
 # display(CV_list)

  # we got the vectors we need 
  # sort the vectors in one matrix 
  mul_list = []
  mul_list3 = []
  counter1 = 0 
 # print(SV_list)
  for i in range(len(AV_list)):
    mul_list.append(AV_list[i]*SV_list[i])
 # print(mul_list)
  rslt = DataFrame(mul_list)
  mul_list1 = rslt#.sort_values(by=0)
  ############################################################
  mul_list2 =  mul_list1.values.tolist()

  MAT1 = [[ 0 for i in range (5)]  for i in range (92)]


 # for i in mul_list2:
  #  MAT1[1].append(i) 
  h = 0 
  for item in mul_list2:
   for h in item:
      float(h)
      MAT1[0].append(h)
  i = 0 
  if ( cost == 1):
    for i in CV_list:
      MAT1[1].append(i)
    for i in CV_list2:
      MAT1[2].append(i)
    for i in CV_list3:
      MAT1[3].append(i)
    for i in CV_list4:
      MAT1[4].append(i)
    for i in CV_list5:
      MAT1[5].append(i)
    df_mat = DataFrame(MAT1)
    df_mat1 = df_mat.iloc[:6,0:]
    df_mat1 = df_mat1.rename(index={ 0 : 'streetArea_prob',1 : 'cost_prob_1',2 : 'cost_prob_2',3 : 'cost_prob_3',4 : 'cost_prob_4' ,5 : 'cost_prob_5'})

  elif ( cost == 2 ):
    for i in CV_list2:
      MAT1[1].append(i)
    for i in CV_list3:
      MAT1[2].append(i)
    for i in CV_list4:
      MAT1[3].append(i)
    for i in CV_list5:
      MAT1[4].append(i)
    df_mat = DataFrame(MAT1)
    df_mat1 = df_mat.iloc[:5,0:]
    df_mat1 = df_mat1.rename(index={ 0 : 'streetArea_prob', 1 : 'cost_prob_2',2 : 'cost_prob_3',3 : 'cost_prob_4',4 : 'cost_prob_5'})

  elif ( cost == 3 ):
    for i in CV_list3:
      MAT1[1].append(i)
    for i in CV_list4:
      MAT1[2].append(i)
    for i in CV_list5:
      MAT1[3].append(i)
    df_mat = DataFrame(MAT1)
    df_mat1 = df_mat.iloc[:4,0:]
    df_mat1 = df_mat1.rename(index={ 0 : 'streetArea_prob', 1 : 'cost_prob_3',2 : 'cost_prob_4',3 : 'cost_prob_5'})


  elif ( cost == 4 ):
    for i in CV_list4:
      MAT1[1].append(i)
    for i in CV_list5:
      MAT1[2].append(i)
    df_mat = DataFrame(MAT1)
    df_mat1 = df_mat.iloc[:3,0:]
    df_mat1 = df_mat1.rename(index={ 0 : 'streetArea_prob', 1 : 'cost_prob_4',2 : 'cost_prob_5'})

  elif ( cost == 5 ):
     for i in CV_list5:
       MAT1[1].append(i)
     df_mat = DataFrame(MAT1)
     df_mat1 = df_mat.iloc[:2,0:]
     df_mat1 = df_mat1.rename(index={ 0 : 'streetArea_prob', 1 : 'cost_prob_5'})

  # the result is the multipliciton of area and street probabilities
 # print(df_mat1)
###################################################

  C4 = 5
  for x in df5.columns:
    df_mat1 = df_mat1.rename(columns={ C4 : x})
    C4 += 1
  df_mat1 =  df_mat1.drop([0,1,2,3,4], axis = 1)

   #delete coloumn have the streetArea_prob =0 
  for i in df_mat1.index:
    for j in df_mat1.columns:
      if df_mat1.loc['streetArea_prob',j] == 0 :
         df_mat1.drop(j, inplace=True, axis=1)


  
 

 # df_mat1[len(df_mat1)] = 'Index number'
  if (cost==5):
    for i in df_mat1.columns:
        x=df_mat1.loc['streetArea_prob',i]
        y=c5.loc[i,0]
        df_mat1.loc['streetArea_prob',i]=x+y
  if (cost==4):
    for i in df_mat1.columns:
        x=df_mat1.loc['streetArea_prob',i]
        y=c4.loc[i,0]
        df_mat1.loc['streetArea_prob',i]=x+y  
  if (cost==3):
    for i in df_mat1.columns:
        x=df_mat1.loc['streetArea_prob',i]
        y=c3.loc[i,0]
        df_mat1.loc['streetArea_prob',i]=x+y                 
  if (cost==2):
    for i in df_mat1.columns:
        x=df_mat1.loc['streetArea_prob',i]
        y=c2.loc[i,0]
        df_mat1.loc['streetArea_prob',i]=x+y
  if (cost==1):
    for i in df_mat1.columns:
        x=df_mat1.loc['streetArea_prob',i]
        y=c1.loc[i,0]
        df_mat1.loc['streetArea_prob',i]=x+y

  df_mat1=df_mat1.sort_values(by = 'streetArea_prob', axis = 1, ascending = False)
  c=df_mat1.shape[1]
  index0 = list(range(1, c+1))
  s=len(df_mat1)
  df_mat1.loc[s]=index0
 #print (s)
  df_mat1=df_mat1.rename(index={s : "Index_number"})
  new_index1 = ['Index_number', 'streetArea_prob']
  df_mat1=df_mat1.reindex(new_index1)
  
  df_mat1=df_mat1.rename(index={'Index_number':'Rank','streetArea_prob': 'Utility Function'})


  
  return df_mat1

In [ ]:
x=streets_classifier(24052,'main_street',1)
x

#test randomly

In [ ]:
x.loc[:,[4711]]

In [ ]:
# streets_classifier(24013,'main_street',1).style #test10
# This function takes the same parameters as the first function 
# and it takes the result of the previous function and drop the columns that all the cost probability init is equals to zero.
"""
def cost_classifier (Area1,street1,cost1):
  result1 = streets_classifier(Area1,street1,cost1)
  s1=[]
  # classifing cost 5
  if cost1 == 5:
     print(result1)
    # cost 4
  if cost1 == 4: 
    s1=d4.loc[[4]]
    s2=d4.loc[[5]]
    s1.append(s2)
    s1.style

  # cost 3
  if cost1 == 3: 
    for i in result1.iloc[2:,0:]:
      for j in result1.columns:
        if result1.loc['cost_prob_3',j] == 0 and result1.loc['cost_prob_4',j] == 0 and result1.loc['cost_prob_5',j] == 0 :
          result1.drop(j, inplace=True, axis=1)
  # cost 2 
  if cost1 == 2: 
    for i in result1.iloc[1:,0:]:
      for j in result1.columns:
        if result1.loc['cost_prob_2',j] == 0 and result1.loc['cost_prob_3',j] == 0 and result1.loc['cost_prob_4',j] == 0 and result1.loc['cost_prob_5',j] == 0 :
          result1.drop(j, inplace=True, axis=1)

  return s1
cost_classifier(24012,'main_street',1)
"""

In [ ]:
#cost_classifier(24012,'main_street',4)

In [ ]:
def area_find(business):
 
 ww1= r1[[business]]
 ww2= r2[[business]]
 ww3= r3[[business]]
 ww4= r4[[business]]
 www=pd.concat([ww1,ww2,ww3,ww4], axis=0)
 www=www.sort_values(by=[business] ,ascending=False)
 xx=df5[[business]]
 m1=xx.loc['main_street',business]
 m2=xx.loc['main-substreet',business]
 m3=xx.loc['substreet',business]
 main=[]
 main_sub=[]
 sub=[]

 for i in www.index:
  if www.loc[i,business] == 0 :
    www=www.drop(i)
 for i in www.index:
   for j in www.columns:
     main.append(www.loc[i,j]*m1)
     main_sub.append(www.loc[i,j]*m2)
     sub.append(www.loc[i,j]*m3)

 www["Needs in main street"] = main
 www["Needs in main_sub street"] = main_sub
 www["Needs in sub street"] = sub
 www=www.drop([business], axis = 1)
 
 return www

In [ ]:
x=area_find(4711)
x

In [ ]:
d4.loc[:,[4711]]

## **Test on List 1**

In [ ]:
#to find the business needs in this area (list1))24032-24053 
q1=dlast.loc[[24052]]#محلات متوفره في الحوض 
for i in q1.index:
  for j in q1.columns:
    if q1.loc[i,j]==0 :
      q1.drop(j, inplace=True, axis=1)

q1.style

In [ ]:
rr1=r1.loc[[24052]]# محلات المحتاجه في الحوض  بناء على الليست \
for i in rr1.index:
  for j in rr1.columns:
    if rr1.loc[i,j]==0 :
      rr1.drop(j, inplace=True, axis=1)

rr1.style

In [ ]:
t=streets_classifier(24052 ,'substreet',5) #test1
t.loc[:,[4711]]

In [ ]:
streets_classifier(24052,'main-substreet',1).style #test2

In [ ]:
streets_classifier(24052,'substreet',1).style #test3

# **Test on list 2**

In [ ]:
#to find the business needs in this area (list2))24003-24031-24053
q2=dlast.loc[[24013]]#محلات متوفره في الحوض 
for i in q2.index:
  for j in q2.columns:
    if q2.loc[i,j]==0 :
      q2.drop(j, inplace=True, axis=1)

q2.style

In [ ]:
rr2=r2.loc[[24013]]# محلات المحتاجه في الحوض  بناء على الليست \
for i in rr2.index:
  for j in rr2.columns:
    if rr2.loc[i,j]==0 :
      rr2.drop(j, inplace=True, axis=1)

rr2.style

In [ ]:
streets_classifier(24013,'main_street',1).style #test4

In [ ]:
streets_classifier(24013,'main-substreet',1).style #test5

In [ ]:
streets_classifier(24013,'substreet',1).style #test6

# Test on List 3

In [ ]:
#to find the business needs in this area (list3)) 24111 
q1=dlast.loc[[24032]]#محلات متوفره في الحوض 
for i in q1.index:
  for j in q1.columns:
    if q1.loc[i,j]==0 :
      q1.drop(j, inplace=True, axis=1)

q1.style

In [ ]:
rr3=r3.loc[[24032]]# محلات المحتاجه في الحوض  بناء على الليست \
for i in rr3.index:
  for j in rr3.columns:
    if rr3.loc[i,j]==0 :
      rr3.drop(j, inplace=True, axis=1)

rr3.style

In [ ]:
streets_classifier(24032,'main_street',1).style #test7

In [ ]:
streets_classifier(24032,'main-substreet',1).style #test8

In [ ]:
streets_classifier(24032,'substreet',1).style #test9

# Test on List 4

In [ ]:
#to find the business needs in this area (list3)) 24013
q1=dlast.loc[[24111]]#محلات متوفره في الحوض 
for i in q1.index:
  for j in q1.columns:
    if q1.loc[i,j]==0 :
      q1.drop(j, inplace=True, axis=1)

q1.style

In [ ]:
rr4=r4.loc[[24111]]# محلات المحتاجه في الحوض  بناء على الليست \
for i in rr4.index:
  for j in rr4.columns:
    if rr4.loc[i,j]==0 :
      rr4.drop(j, inplace=True, axis=1)

rr4.style

In [ ]:
streets_classifier(24111,'main_street',1).style #test10

In [ ]:
streets_classifier(24111,'main-substreet',1).style #test11

In [ ]:
streets_classifier(24111,'substreet',1).style #test12

In [ ]:
#Find the right area for the profession :
d4.style

In [ ]:
m1max1.loc[[4711]]

In [ ]:
rr1.loc[:,[4711]]

In [ ]:
d4.loc[:,[4711]]